<h4 style="text-align: center;">Usuarios</h4>
<br>
<div class="col s12">
<table class="responsive-table centered z-depth-4">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Rol</th>
            <th>Clinica</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Jesus Romero Villa</td>
            <td>ejemplo@gmail.com</td>
            <td>Administrador</td>
            <td>Consultorio1</td>
            <td>
                <a>
                    <span class="material-icons md-light" style="color: orange;">create</span>
                </a>
                <a>
                    <span class="material-icons md-18" style="color: red;">delete</span>
                </a>
            </td>
        <tr>
            <td>Juan Aurelio Diaz Garcia</td>
            <td>ejemplo@gmail.com</td>
            <td>Recepcionista</td>
            <td>Consultorio2</td>
            <td>
                <a>
                    <span class="material-icons md-light" style="color: orange;">create</span>
                </a>
                <a>
                    <span class="material-icons md-18" style="color: red;">delete</span>
                </a>
            </td>
        </tr>
        <tr>
            <td>Juan Aurelio Diaz Garcia</td>
            <td>ejemplo@gmail.com</td>
            <td>Recepcionista</td>
            <td>Consultorio2</td>
            <td>
                <a>
                    <span class="material-icons md-light" style="color: orange;">create</span>
                </a>
                <a>
                    <span class="material-icons md-18" style="color: red;">delete</span>
                </a>
            </td>
        </tr>
        <tr>
            <td>Juan Aurelio Diaz Garcia</td>
            <td>ejemplo@gmail.com</td>
            <td>Recepcionista</td>
            <td>Consultorio2</td>
            <td>
                <a>
                    <span class="material-icons md-light" style="color: orange;">create</span>
                </a>
                <a>
                    <span class="material-icons md-18" style="color: red;">delete</span>
                </a>
            </td>
        </tr>
    </tbody>
</table>
<br>
</div>
<div class="col s3 izquierda pa">
    <a routerLink="new" class="waves-effect blue lighten-1 btn">Nuevo Usuario</a>
</div>