<br>
<h5 class="center-align">Nueva Cita</h5>
<form [formGroup]="createForm" (ngSubmit)="onSubmit()" class="col s12">

    <div class="input-field col s12">
        <input id="nombre" type="text" class="validate" formControlName="nombre">
        <label for="nombre">Nombre Completo</label>
    </div>
    <div class="input-field col s6">
        <input id="telefono" type="text" class="validate" formControlName="telefono">
        <label for="telefono">Telefono</label>
    </div>
    <div class="input-field col s6">
        <input id="fecha" type="date" class="validate" formControlName="fecha">
        <label for="fecha">Fecha</label>
    </div>
    <div class="input-field col s6">
        <input id="hora" type="text" class="validate" formControlName="hora">
        <label for="hora">Hora</label>
    </div>
    <div class="input-field col s6">
        <input id="consultorio" type="text" class="validate" formControlName="consultorio">
        <label for="consultorio">Consultorio</label>
    </div>
    <div class="center-align col s12">
        <button class="waves-effect blue lighten-1 btn col s12" type="submit">Guardar</button>
    </div>
</form>